"*":
  "autocomplete-python":
    useKite: false
  "autocomplete-ruby":
    rsensePath: "/Users/ranbirsingh/.rbenv/shims/rsense"
  core:
    closeDeletedFileTabs: true
    projectHome: "/Users/ranbirsingh/projects"
    telemetryConsent: "no"
  editor:
    showIndentGuide: true
  "exception-reporting":
    userId: "75965846-9445-4d7c-993b-d8efae5ad575"
  "git-blame":
    columnWidth: 343
  "git-projects":
    rootPath: "/Users/ranbirsingh/projects"
  "linter-pylint":
    executablePath: "/Users/ranbirsingh/.pyenv/shims/pylint"
  "linter-ui-default":
    panelHeight: 183
  "platformio-ide-terminal":
    core:
      shell: "/bin/zsh"
    toggles: {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
